* {
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}

p {font-size:1em;}

header {
	width:100%;
	height:60px;
	position:fixed;
	z-index:4;
	transition:0.5s ease-in-out;
}

header.onscroll {
	background-color:#fff;
	box-shadow:1px 3px 6px #ddd;
}

header.onscroll .logo,
header.onscroll #icon a,
header.onscroll nav ul.header_list li a {
	color: #000;
}

header.onscroll nav ul.header_list li a:hover,
header.onscroll nav ul.header_list li.active a {
	color:#ff9900;
}

header nav {
	display:flex;
	margin:2% 5%;
}

.logo {
	margin:1% 10%;
	padding:0;
	float:left;
	color:#eee;
}

.header_list {
	margin-left:10%;
	width:100%;
}

.header_list li{
	display:inline;
	list-style-type:none;
}

.header_list li a {
	margin: 2%;
	color:#fff;
	text-decoration:none;
	transition:.5s;
}

.header_list li a:hover,
.list li a:hover {
	color:#ff9900;
}

.header_list li.active a,
nav ul.list li.active a {
	color:#ff9900;
}

#icon {
	display:none;
}

#hero-image {
	width:100%;
	height:500px;
	position:relative;	
	background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/pizza.jpg");
	background:-webkit-linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/pizza.jpg");
	background:-moz-linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/pizza.jpg");
	background-size:cover;
	background-position:center;
	/*background-attachment: fixed;*/
}

.hero-text {
	top:50%;
	left:50%;
	text-align:center;
	position:absolute;
	transform:translate(-50%,-50%);
}

.hero-text h1 {
	font-size:40px;
	padding:20px;
	color:#eee;
}

.hero-text p {
	color:#eee;
	padding-bottom:30px;
}

.flex-container {
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	width:100%;
	height:400px;
}

.flex-item1 {
	width:50%;
	height:auto;
	position:relative;
}

.flex-item2 {
	width:50%;
	height:300px;
}

.flex-item2 img {
	width:100%;
	height:300px;
}

.flex-item3 {
	width:50%;
	height:450px;
}

.flex-item3 img {width:100%;height:100%;}

.align1 {
	top:50%;
	left:60%;
	transform:translate(-50%, -50%);
	position:absolute;
}

.align2 {
	top:50%;
	left:40%;
	transform:translate(-50%, -50%);
	position:absolute;
}

.content1 {
	top:40%;
	left:60%;
	transform:translate(-50%, -50%);
	position:absolute;
}

.content1 h1 {
	font-size:40px;
	margin:20px 0;
}
.prap {
	width:250px;
	height:60px;
}
.prap p {
	font-size:12px;
	margin:10px 0;
	padding:0;
}

.content2 {
	margin:0 0 10px;
	padding:0;
}

.content2 img {
	width:100%;
	height:380px;
}

.ceo {
	height:70px;
	display:flex;
	padding:10px;
}

.ceo-text {
	margin:0 0 0 15px;
}

#small {
	border-radius:50%;
	background-position:center;
}

#food-menu nav {
	display:flex;
	width:100%;
	height:50px;
	text-align:center;
	background-color:#f3f1f1;
}

nav ul.list {
	width:100%;
	margin:0 5%;
}

.list li {
	margin:15px 5px;
	display:inline-block;
}

.list li a {
	color:#000;
	font-size:15px;
	text-decoration:none;
}

.heromid {
	background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/dan.jpg");
	background:-webkit-linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/dan.jpg");
	background-size:cover;
	background-position:center;
	position:relative;
	width:100%;
	height:300px;
}

.heromid-text {
	color:#fff;
	position:absolute;
	top:40%;
	left:50%;
	text-align:center;
	transform:translate(-50%,-50%);
}

.contain {
	width: 100%;
}

.hrap {
	width:300px;
	margin: 30px 0;
}

.hwrap {
	text-align:center;
	font-size:20px;
}

.menu-list {
	text-align:center;
	position: relative;
}

.menu-list::before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ddd;
	width: 20em;
	height: 1px;
}

/*.menu-list::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f00;
	width: 3em;
	height: 1px;
}*/

.menu-list li {
	margin:10px 0;
	padding:0 10px;
	display:inline-block;
}

.menu-list li:first-child::before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 2.3em;
	height: 1px;
	margin: 0 auto;
	background-color: #f00;
}

.menu-list li a {
	color:#000;
	font-size:15px;
	text-decoration:none;
}

div.dish {
	width:320px;
	height:70px;
	display:flex;
	-webkit-display:flex;
	box-shadow:1px 2px 15px grey;
	margin:20px;
}

div.dish img {
	width:23%;
	height:100%;
}

div.dish-text{
	position:absolute;
	font-size:10px;
	margin:40px 0;
	left:60%;
	padding:0;
	width:63%;
	transform:translate(-50%, -50%);
}

div.dish-text h5 {font-size:15px;}

div.dish-text p {
	margin:2% 0;
	padding:0;
	font-size:12px;
}

div.price {
	margin:18px 65%;
	color:#f00;
}

#reserve {
	background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/reserve.jpg");
	background-size:cover;
	background-position:center;
	width:100%;
	height:350px;
	position:relative;
	margin-top:70px;
}

.reserve-text {
	top:46%;
	left:50%;
	text-align:center;
	position:absolute;
	transform:translate(-50%,-50%);
}

.reshead {
	margin:0;
	padding-bottom:90px;
	color:#fff;
	font-size:20px;
}

.form-inline {
	display:flex;
	height:auto;
	padding:5px;
}

.form-control {
	text-align:left;
	margin:5px;
}

.label {
	color:#fff;
	display: block;
}

input[type=date],
input[type=text], 
input[type=time]  {
	width:120px;
	padding:8px;
} 

#person {line-height: 21px}

.btn {
	color:#fff;
	border:none;
	background-color:#996600;
	cursor:pointer;
	padding:15px 40px;
	transition:.5s;
}

.btn:hover {
	background-color:#ff9900;
}

.btn-red {
	color:#fff;
	outline:none;
	border:none;
	background-color:#f00;
	margin:5px;
	padding:10px 30px;
	cursor:pointer;
	transition:0.4s ease-in-out;
}

.btn-red:hover {
	background-color:#990000;
}

.btn-contact {
	border-radius: 10px;
	margin:0 0 0 40%;
}

#meet-the_chef {
	position:relative;
	border:1px solid transparent;
	margin:0;
	padding:0;
	width:100%;
	height:auto;
}

.chef-header {
	margin:120px 0 50px;
	text-align:center;
}

.photo-card_wrap {
	display:flex;
	width:100%;
	height:300px;
	text-align:center;
	margin:0 11%;
	padding:0 0 0 2%;
}

.photo-card {
	width:25%;
	height:100%;
	margin:0 1%;
}

.chef-details {
	text-align:center;
}

.chef-rank {
	color:#F00;
}

#wrinkled {
	position:absolute;
	top:10%;
	right:0;
}

#pineapple {
	position:absolute;
	top:60%;
	left:0;
}

div.contact-header {
	margin:20px 0;
	text-align: center;
}

div.form-group {
	margin: 20px 0;
	padding: 0 0 0 25%;
}

div.form-group input[type=text],
div.form-group input[type=email],
div.form-group textarea {
	width: 70%;
	padding: 6px;
}

div.form-group textarea {
	resize: none;
	height: 100px;
}

#hero-footer {
	background:linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/footer.jpg");
	background-size:cover;
	background-position:center;
	position:relative;
	width:100%;
	height:380px;
}

.footer-text {
	top:50%;
	left:50%;
	color:#fff;
	width:100%;
	text-align:center;
	position:absolute;
	transform:translate(-50%,-50%);
}

.footer-text input[type=text] {
	width:350px;
	margin:50px 0 20px;
}

.foot {
	width: 100%;
	height: 60px;
	color: #fff;
	bottom: 0;
	background-color: #333;
}

.flat-icons {
	margin:20px 0 20px 0;
	padding:15px;
	text-align:center;
}